body {
    background: url(http://static6.depositphotos.com/1033335/546/i/950/depositphotos_5468502-Old-paper-grunge-background--parchment-papyrus-manuscript.jpg);
}

.container {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
}


h1 {
  text-align: center;
  font-size: 72px;
  font-weight: bold;
}

.btn start btn-lg {
  align-content: center;
}

h2 {
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgb(white);
    line-height: 1em;
    font-size: large;
    font-weight: bold;
    font-size: 22px;
    

}
.btn { 
  content: center;
  align-content: center;
  color: black; 
  background-color: blue; 
  border-color: #FFFFFF; 
} 
 
.btn:hover, 
.btn:focus, 
.btn:active, 
.open .dropdown-toggle.btn { 
  color: #ffffff; 
  background-color: #000000; 
  border-color: #FFFFFF; 
} 
 
.btn:active, 
.open .dropdown-toggle.btn { 
  background-image: none; 

} 
 
.btn .badge { 
  color: black; 
  background-color: #ffffff; 
}

#question {
  line-height: 1em;
}
#answer {
  line-height: 1em;
}
#answer-choice-1{
  line-height: 1em;
}
#answer-choice-2{
  line-height: 1em;
}
#answer-choice-3{
  line-height: 1em;
}
#answer-choice-4{
  line-height: 1em;
}

@media only screen and (max-width: 500px) {
  .gridmenu {
      width:100%;
  }
  .gridmain {
      width:100%;
  }
  .gridright {
      width:100%;
  }
}